<app-not-found
  [visible]="!food"
  notFoundMessage="404 ERROR"
  resetLinkText="Go To HomePage"
></app-not-found>
<div class="container" *ngIf="food">
  <img [src]="food.imageUrl" [alt]="food.name" />

  <div class="details">
    <div class="header">
      <span class="name">{{ food.name }}</span>
      <span class="favorite">{{ food.favorite ? "" : "" }} ❤ </span>
    </div>
    <div>
      <span *ngFor="let origin of food.origins"> {{ origin }}</span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{ tag }}">{{ tag }}</a>
    </div>
    <div class="cookTime">
      <span
        >Time to cook about <strong>{{ food.cookTime }}</strong> minutes</span
      >
    </div>
    <div class="price">
      <span>{{ food.price | currency }}</span>
    </div>
    <button (click)="addToCart()">Add to cart</button>
    <div class="desc">
      <h2>Description</h2>
      <p>{{ food.description }}</p>
    </div>
  </div>
</div>
